/*copy code color palette figma pake root*/
:root {
    --white: #FFFFFF;
    --abutulisan: #65625F;
    --blackbg: #03081F;
    --biruBG1: #26374D;
    --biruBG2: #DDE6ED;
    --biruAbuMuda: #9DB2BF;
    --biruabu: #536D82;
    --anotherblck: #000000;
    --orange: #FC8A06;
    --red: #E50014E5;
    --ijobubble: #19CA4E;
    --abububble: #C4C4C4;
    --purpleprofile: #D2DAFF;
    --pinkprofile: #FFC0DE;
    --merahprofile: #DA4747DB;
    --bluetext: #2951D5;
    --pinkbubble: #DA4790DB;
    --abubayangan: #53525299;
    --fwbold: 700;
    --fwlight: 400;
    --fwmedium: 600;
    --fwreguler: 500;
    --fwsuperlight: 300;

}

/*semua font di body akan menjadi Nunito*/
body {
    font-family: "Nunito", sans-serif;
    color: var(--white);
    background: var(--biruBG1);
    margin-bottom: 40;
    padding-bottom: 50px;
}

body.bg {
    background: var(--biruBG2);
    font-family: "Nunito", sans-serif;
    padding-bottom: 50px;
    margin-bottom: 60px;
}

.header {
    font-weight: var(--fwbold);
    font-size: 30px;
    margin: 0;
    color: var(--white);
}

.header-2 {
    font-weight: var(--fwbold);
    font-size: 24px;
    margin: 0;
    color: var(--white);
}

.header-3 {
    font-weight: var(--fwmedium);
    font-size: 17px;
    margin: 0;
    color: var(--biruBG1);

}

.paragraf-mini {
    font-weight: var(--fwbold);
    font-size: 14px;
    color: white;

    margin: 0;
}

.paragraf-medium {
    font-weight: var(--fwbold);
    font-size: 16px;
    color: white;
    margin: 0;
}

.paragraf-semiMini {
    font-weight: var(--fwmedium);
    font-size: 16px;
    color: white;

}

.link-set {
    font-weight: var(--fwreguler);
    font-size: 14px;
}



.card {
    border-radius: 20px 20px 20px 20px;
}

.card-header {
    font-family: "Poppins", sans-serif;
    background: var(--biruBG1);
    font-size: 13px;
    font-weight: var(--fwbold);
    color: var(--white);

}

.card-title {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: var(--fwmedium);
    color: var(--biruBG1);
}

.card-text {
    font-family: "Poppins", sans-serif;
    font-weight: var(--fwlight);
    color: var(--biruBG1);
}

.badge-status {
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    display: inline-block;
    margin-top: 5px;
    background: var(--biruabu);
}

.badge-status-menunggu {
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    display: inline-block;
    margin-top: 5px;
    background: #A6B1E1 !important;
}

.badge-status-verifikasi {
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    display: inline-block;
    margin-top: 5px;
    background: #989898 !important;
}

.badge-status-diterima {
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    display: inline-block;
    margin-top: 5px;
    background: var(--ijobubble);
}

.badge-status-ditolak {
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    display: inline-block;
    margin-top: 5px;
    background: var(--red);
}

.nav-link.nav-badge {
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 16px;
    color: var(--biruBG1);
    background-color: transparent;
    text-decoration: none;
    gap: 8px;
    transition: background-color 0.5s ease;
    border: 1px solid var(--biruBG1);

}

.nav-badge:hover {
    background-color: var(--biruBG1);
    font-weight: var(--fwbold);
    color: var(--white);

}

.nav-badge.active {
    background-color: var(--biruBG1);
    color: var(--white);

}

.navbar-hover:hover img,
.navbar-hover:hover a {
    color: var(--biruBG1);
    font-weight: var(--fwbold);
    transition: all 0.3s ease;
    filter: brightness(0) saturate(100%) invert(13%) sepia(93%) saturate(1797%) hue-rotate(198deg) brightness(97%) contrast(94%);
}


.navbar-hover.active img,
.navbar-hover.active a {
    color: var(--biruBG1);
    font-weight: var(--fwbold);
    filter: brightness(0) saturate(100%) invert(13%) sepia(93%) saturate(1797%) hue-rotate(198deg) brightness(97%) contrast(94%);
}



.navbar-nav .nav-item:hover img,
.navbar-nav .nav-item:hover a {
    transition: all 0.3s ease;
    font-weight: var(--fwbold);
}

.nav-status .nav-link {
    color: white !important;
    font-weight: normal;
    text-decoration: none;
}

.nav-status .nav-link:hover {
    color: white !important;
}

.nav-status .nav-link.active {
    color: white !important;
    font-weight: bold;
    text-decoration: none;
}

.nav-status .nav-underline .nav-link.active {
    border-bottom: 2px solid white;
}

.search-input-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.search-input-wrapper i {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: black;
    font-size: 18px;
}

.search-input {
    padding-left: 40px;
    border-radius: 12px;
    border: 1px solid black;
}

.tombol {
    display: flex;
    justify-content: space-around;


}

.tombol button {
    padding: 5px 50px;
    border-radius: 10px;
}

.tombol .selesai {
    background-color: #204051;
    color: white;
    border: none;
}

.tombol .cancel {
    background-color: #C5DFF8;
    color: #000000;
    border: none;
}

.tombol .cancel:hover {
    background-color: #AFCBFF;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.tombol .selesai:hover {
    background-color: #36596C;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.custom-modal {
    background-color: var(--biruBG2);
    border-radius: 12px;
    padding: 20px;
    color: #000;
    font-weight: var(--fwreguler);

    font-size: 13px;
}

.modal-title {
    font-weight: var(--fwbold);
    font-size: 20px;
    font-family: "Nunito", sans-serif !important;

}

.container-header {
    background: var(--biruBG1) !important;
    border-radius: 20px;
    height: 40px;
    font-family: "Nunito", sans-serif;
    font-weight: var(--fwbold);
    font-size: 16px;
}

thead tr th {
    background: var(--biruBG1) !important;
    height: 40px;
    font-family: "Nunito", sans-serif;
    font-weight: var(--fwbold);
    font-size: 16px;
    border-collapse: collapse;
    color: white !important;
}

.input-line {
    border: none;
    border-bottom: 1px solid #aaa;
    border-radius: 0;
    padding-left: 0;
    width: 100%;
}

.btn-primary {
    padding: 10px 40px 10px 40px;
    background: var(--white);
    color: var(--abububble);
    font-size: 18px;
    font-weight: var(--fwlight);
    border: none;
    border-radius: 16px;
}

.btn-yes {
    background: #536D82 !important;
    color: white;

}

.btn-yes:hover {
    background-color: #536D82 !important;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease;
    font-weight: var(--fwbold);
    color: white;
}

.btn-no {
    background: #9DB2BF !important;
    color: white;

}

.btn-no:hover {
    background-color: #9DB2BF !important;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease;
    font-weight: var(--fwbold);
    color: white;
}

.btn-u {
    background: #9DB2BF !important;
    color: white;
    padding: 4px 10px;
}

.btn-u:hover {
    background-color: var(--biruBG1) !important;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease;
    font-weight: var(--fwbold);
    color: white;
}

.card-hover:hover {
    font-weight: var(--fwbold);
    background: #9DB2BF;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.garis-bawah {
    border: none;
    height: 5px;
    background-color: white;
    width: 90%;
    margin: 20px auto 0;
    border-radius: 4px;
}

.nav-info .nav-link,
.nav-info .nav-link:hover,
.nav-info .nav-link.active {
    color: var(--biruBG1) !important;
    
}

.nav-info:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease;
    font-weight: var(--fwbold);
    color: var(--biruBG1) !important;
}

.btn-edit {
    background: #9DB2BF !important;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

.btn-edit:hover {
   
    transition: all 0.3s ease;
    font-weight: var(--fwbold);
}



a {
  text-decoration: none;
}
.tbl-ubh{
    display: flex;
    justify-content: right;
    padding: 10px;
}
.tbl-ubh button{
    background: #36596C;
    cursor: pointer;
    padding: 3px 10px;
    transition: .2s;
    border: none;
    color: #fff;
    border-radius: 10px;
}
.tbl-ubh button:hover{
    padding: 3px 15px;
}
.profile-header{
    display: flex;
    gap: 5px;
    align-items: center;
}
.profile-header span{
    color: #fff;
    font-weight: 500;
}
.search-form-data-akun{
    border: none;
    background: var(--white);
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    display: flex;
}
.search-form-data-akun input{
    border: none;
    width: 100%;
    outline: none;
    color: var(--biruBG1);
}
.search-form-data-akun button{
    background: var(--biruBG1);
    border: none;
    border-radius: 5px;
    color: #fff;
}
.tbl-login {
  width: 150px;
  border: none;
  padding: 6px;
  border-radius: 7px;
  color: #fff;
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
}

.tbl-login {
  background: #226bea77;
}

.tbl-login:hover {
  background: #226bea;
}

.nav-items {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.2s;
  gap: 3px;
}

.nav-items:hover {
  color: #3a7ae8;
}

.foot-link {
  font-size: 15px;
  color:rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
}
.actived{
    color: #3a9ae8;
    font-size: 17px;
}
.foot-link:hover {
  color: #3a9ae8;
}

.navbarss {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.form-login {
  padding-top: 260px;
  margin-bottom: 60px;
}
.navbars {
  height: 70px;
  display: flex;
  align-items: center;
  background: var(--biruBG1);
  color: var(--white);
  border-radius: 15px 15px 0 0;
}

#navbarNav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -15px;
}

.name-sts {
  display: flex;
  justify-content: space-between;
}

.c-fot {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fot {
  max-width: 700px;
  min-width: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-menu {
  display: flex;
}

.health {
  display: flex;
  align-items: center;
  font-size: 12px;
  position: fixed;
  z-index: 1;
  right: 10px;
  bottom: 80px;
  background: var(--biruBG1);
  padding: 2px 10px;
  border-radius: 5px;
  gap: 4px;
}

.status-Menunggu{
    background: #367bfb;
    padding: 0 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
}
.status-Dilihat{
    background: var(--orange);
    padding: 0 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
}
.status-Disetujui{
    background: var(--ijobubble);
    padding: 0 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
}
.status-Ditolak{
    background: var(--red);
    padding: 0 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
}

@media screen and (max-width: 500px) {
  .name-sts {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .fot {
    width: 80%;
  }

  .foot-link span {
    display: none;
  }
}
